<div class="container-fluid container-fluid-custom">
<h1>About</h1>
<p>We had to create a Note-Taking App for a Midterm assignment in our Software Developing BootCamp. <br>
    Within this app, you can create new notes, edit old ones or delete those you no longer need. We even managed to add in a search option! <br><br>
    To Sign In or Login, it requires a Gooogle account</p>
</div>



