<div class="container-fluid container-fluid-custom py-md-5 mb-5">
<main>
    <div class="row py-md-5 text-center justify-content-center">
      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-4 position-realative home-title">My Note-Taking App</h1>
        <h2>Created by Renée Colthorp</h2>
        <p class="fs-4 mb-4">A Midterm Project, created using Node.js, Express, EJs, MongoDB and a few others to tie it all together</p>
        <a href="/auth/google" class="btn btn-dark btn-lg">Create a Note</a>
    </div>
    </main>
</div>